.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 0;
	border-top: 1px solid $color-gray-1;
	background-color: $color-white;

	h2 {
		font-size: $title-2;
		margin-right: 0.5rem;
		margin-bottom: 0.25rem;
	}

	.category {
		margin-bottom: 0.25rem;
	}

	.days {
		color: $color-green;

		&.warning {
			color: $color-orange;
		}

		&.error {
			color: $color-red;
		}

		span {
			font-size: $text-sm;
			font-weight: 400;
			margin-left: 0.125rem;
		}
	}

	.controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 4px;
		position: relative;

		.units {
			font-weight: 600;
			color: $color-green;
			font-size: $title-1;
			margin-right: 0.5rem;

			&.error {
				color: $color-red;
			}

			&.warning {
				color: $color-orange;
			}

			span {
				font-size: $text-sm;
				font-weight: 400;
				margin-left: 0.125rem;
			}
		}

		Button {
			margin-left: 0.5rem;
		}

		.dropdown {
			position: absolute;
			background-color: $color-white;
			padding: 0.5rem;
			border-radius: $radius-sm;
			box-shadow: $shadow-md;
			list-style: none;
			z-index: 1;
			right: 0;
			top: 2rem;
			color: $color-green;
			min-width: 148px;

			li {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.75rem 1rem;
				border-radius: $radius-sm;
				cursor: pointer;
			}

			li:hover {
				background-color: $color-light-green;
			}
		}
	}
}
