.items-list {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.25rem 0;
		h1 {
			font-size: $title-1;
		}
	}
}
