.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid $color-light-gray;
	background-color: $color-white;

	h2 {
		font-size: $title-2;
		margin: 0;
		margin-bottom: 0.25rem;
	}

	.units-controller {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.units {
			font-size: $title-2;
			margin-right: 0.5rem;
		}

		Button {
			margin-left: 0.75rem;
		}
	}
}
