/* Colors */
$color-black: #1c1c1c;
$color-gray-2: #bebebe;
$color-gray-1: #ededed;
$color-white: #ffffff;
$color-red: rgb(240, 35, 35);
$color-green: rgb(0, 154, 36);
$color-blue: rgb(28, 73, 254);
$color-light-blue: rgb(226, 236, 254);
$color-light-orange: rgb(255, 239, 212);
$color-light-green: rgb(220, 236, 220);
$color-border: $color-black;

/* Border radius */
$radius-sm: 0.5rem;
$radius-md: 0.75rem;

/* Shadows */
$shadow-sm: 0px 0px 6px rgba(69, 69, 69, 0.1);
$shadow-md: 0px 0px 12px rgba(69, 69, 69, 0.5);

/* Typography */
$title-1: 1.5rem;
$title-2: 1.25rem;
$text-sm: 0.875rem;

/* General */
$color-background: $color-white;
$color-text: $color-black;

body {
	font-family: system-ui, -apple-system, sans-serif;
	background-color: $color-white;
	color: $color-black;
}
